<%- include('./tpl/head.ejs') %>
</head>
<body>
	<%- include('./tpl/navigation.ejs') %>
	
	<main>
		<p>We're sorry, but the page you were looking for doesn't exist.</p>
	</main>
	<%- include('./tpl/end.ejs') %>
