<%- include('/home/arnob/Documents/swe-project/views/tpl/head.ejs') %>
    </head>

    <body>
        <%- include('/home/arnob/Documents/swe-project/views/tpl/navigation.ejs') %>

            <main>
                <h1>Index view</h1>
            </main>
            <%- include('/home/arnob/Documents/swe-project/views/tpl/end.ejs') %>