<%- include('./tpl/head.ejs') %>
    </head>

    <body>
        <%- include('./tpl/navigation.ejs') %>

            <main>
                <h1>Users page is rendering.</h1>
            </main>
            <%- include('./tpl/end.ejs') %>